@model List<EntityLayer.concrete.Category>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<div class="table-container">
    <h3>Kategori Listesi</h3>
    <table class="table table-bordered text-center">
        <thead>
            <tr>
                <th>#</th>
                <th>Kategori Adı</th>
                <th>Pasif Yap</th>
                <th>Aktif Yap</th>
                <th>Düzenle</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>@item.CategoryId</td>
                <td>@item.CategoryName</td>
                <td><a href="/Admin/Category/CategoryDelete/@item.CategoryId" onclick="return confirm('silmek isteğinize emin misiniz')" class="btn btn-danger custom-btn">Pasif Yap</a></td>
                <td><button class="btn btn-warning custom-btn">Aktif Yap</button></td>
                <td><button class="btn btn-primary custom-btn">Düzenle</button></td>
            </tr>
            }
        </tbody>
    </table>
    <a href="#" class="btn btn-primary">Yeni kategori</a>
    <br/>
    
</div>
